video-pipeline/n8n_workflow_template.json
{
  "name": "Video Transcoder Pipeline",
  "nodes": [
    {
      "parameters": {},
      "id": "e3c4a3a1-8b1a-4a0a-b4a4-3a0a1a8b4a3a",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "path": "video-upload",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [450, 300],
      "webhookId": "video-upload-webhook"
    },
    {
      "parameters": {
        "dataPropertyName": "data",
        "fileName": "={{ $json[\"video\"][\"originalname\"] }}"
      },
      "id": "move-binary",
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.videoType }}",
                    "rightValue": "short-form",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Short Form"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.videoType }}",
                    "rightValue": "long-form",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Long Form"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.videoType }}",
                    "rightValue": "listings",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Listings"
            }
          ]
        },
        "options": {}
      },
      "id": "switch-type",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://66.42.87.222:3000/webhook/video-upload/short-form",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData",
              "dataPropertyName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "http-short-form",
      "name": "Upload Short Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "url": "http://66.42.87.222:3000/webhook/video-upload/long-form",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData",
              "dataPropertyName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "http-long-form",
      "name": "Upload Long Form",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "url": "http://66.42.87.222:3000/webhook/video-upload/listings",
        "sendBody": true,
        "bodyContentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video",
              "value": "={{ $binary.data }}",
              "parameterType": "formBinaryData",
              "dataPropertyName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "http-listings",
      "name": "Upload Listings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Video uploaded and processing started"
            }
          ]
        },
        "options": {}
      },
      "id": "response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Upload Short Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Long Form",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Short Form": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Long Form": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Listings": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-01T21:30:00.000Z",
  "versionId": "1"
}
